<app-modal-view>
  <ion-title>Driplane Reset Password</ion-title>
  <form #form="ngForm" *ngIf="!tokenFlow" (ngSubmit)="resetPassword(form)">
    <ion-list>
      <ion-item>
        <ion-input
          label="E-mail"
          labelPlacement="stacked"
          autocomplete="email"
          type="email"
          name="email"
          [(ngModel)]="email"
          data-testid="emailInput"
          required
          email
          #email1="ngModel"
        ></ion-input>
      </ion-item>
      <ion-text *ngIf="form.submitted && email1.invalid" color="danger">
        <p>Please write a valid email address</p>
      </ion-text>
    </ion-list>
    <button type="submit"></button>
    <ion-button type="submit" expand="block" share="round" color="success" data-testid="resetPasswordButton"
      >Reset my password</ion-button
    >
  </form>

  <ion-text *ngIf="mailSent" color="success" data-testid="mailSentMessage">
    Your password reset mail sent! Please click the link in email to change
    your password.
  </ion-text>

  <form #form2="ngForm" *ngIf="tokenFlow" (ngSubmit)="changePassword(form2)">
    <ion-list>
      <ion-item>
        <ion-input
          label="New Password"
          labelPlacement="stacked"
          type="password"
          name="password"
          [(ngModel)]="newPassword"
          data-testid="passwordInput"
          required
          #pass="ngModel"
          autocomplete="new-password"
        ></ion-input>
      </ion-item>
      <ion-text *ngIf="form2.submitted && pass.invalid" color="danger" data-testid="passwordErrorMessage">
        <p>Write your pasword</p>
      </ion-text>

      <ion-item>
        <ion-input
          label="Verify New Password"
          labelPlacement="stacked"
          type="password"
          name="password1"
          [(ngModel)]="newPassword1"
          data-testid="passwordVerifyInput"
          required
          #pass1="ngModel"
          autocomplete="new-password"
        ></ion-input>
      </ion-item>
      <ion-text
        *ngIf="form2.submitted && newPassword !== newPassword1"
        color="danger"
        data-testid="passwordVerifyErrorMessage"
      >
        <p>Passwords don't match</p>
      </ion-text>
    </ion-list>
    <button type="submit"></button>
    <ion-button type="submit" expand="block" share="round" color="success" data-testid="updatePasswordButton"
      >Update my password</ion-button
    >
  </form>

  <ion-text *ngIf="passwordChanged" color="success" data-testid="passwordChangedMessage"
    >Your password is changed! You can now <a href="/login">login</a> with your
    new password.</ion-text
  >
</app-modal-view>
