<app-modal-view>
  <div class="logo-container"></div>

  <ion-header>
    <ion-title size="large">
      Reset Password
    </ion-title>
  </ion-header>

  <form #form="ngForm" *ngIf="!tokenFlow" (ngSubmit)="resetPassword(form)">
    <ion-list lines="none">
      <ion-item>
        <ion-text>Please write your account e-mail address to get a password reset link.</ion-text>
      </ion-item>
      <ion-item>
        <ion-input label="E-mail" labelPlacement="stacked" autocomplete="email" type="email" name="email"
          [(ngModel)]="email" data-testid="emailInput" required email #email1="ngModel" errorText="Please write a valid email address"></ion-input>
      </ion-item>
    </ion-list>

    <button type="submit"></button>
    <ion-list>
      <ion-button *ngIf="!mailSent" type="submit" expand="block" data-testid="resetPasswordButton">Reset my
        password</ion-button>
      <ion-item *ngIf="mailSent" class="ion-padding" color="success">
        <ion-text data-testid="mailSentMessage">
          Your password reset mail sent! Please click the link in email to change
          your password.
        </ion-text>
      </ion-item>
    </ion-list>
  </form>


  <form #form2="ngForm" *ngIf="tokenFlow" (ngSubmit)="changePassword(form2)">
    <ion-list lines="none">
      <ion-item>
        <ion-text>Please pick a new password.</ion-text>
      </ion-item>

      <ion-item>
        <ion-input label="New Password" labelPlacement="stacked" type="password" name="password"
          [(ngModel)]="newPassword" data-testid="passwordInput" required #pass="ngModel" autocomplete="new-password"
          errorText="Write your pasword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Verify New Password" labelPlacement="stacked" type="password" name="password1"
          [(ngModel)]="newPassword1" data-testid="passwordVerifyInput" required #pass1="ngModel"
          autocomplete="new-password" errorText="Passwords don't match"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit"></button>
    <ion-button type="submit" expand="block" data-testid="updatePasswordButton">Update my
      password</ion-button>
  </form>

  <ion-list *ngIf="passwordChanged" lines="none">
    <ion-label data-testid="passwordChangedMessage">Your password is changed! You
      can now login with your
      new password.</ion-label>
    <ion-button slot="end" routerLink="/login" data-testid="loginButton">Login</ion-button>
  </ion-list>
</app-modal-view>
