<ion-split-pane when="xl" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Driplane</ion-list-header>
        <ion-note data-testid="loggedInUser">{{ ( loggedInUser$ | async )?.email }}</ion-note>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/projects', ( activeProject$ | async ) ]" lines="none" routerLinkActive="active">
            <ion-icon slot="start" ios="speedometer-outline" md="speedometer-sharp"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <ion-item routerDirection="root" [routerLink]="['/projects', ( activeProject$ | async ), 'settings']" lines="none" routerLinkActive="active">
            <ion-icon slot="start" ios="cog-outline" md="cog-sharp"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-list>

        <ion-item *ngIf="hasMultipleProjects$ | async">
          <!-- <ion-label>Switch Project</ion-label> -->
          <ion-select label="Switch Project" label-placement="floating" [value]="activeProject$ | async" (ionChange)="switchProject($event)" placeholder="Switch project">
            <ion-select-option *ngFor="let project of projects$ | async" [value]="project.id">{{ project.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item routerDirection="root" [routerLink]="['/account']" lines="none" routerLinkActive="active">
          <ion-icon slot="start" ios="person-outline" md="person-sharp"></ion-icon>
          <ion-label>Account Settings</ion-label>
        </ion-item>

        <ion-item button (click)="signOut()" lines="none">
          <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
          <ion-label>Sign out</ion-label>
        </ion-item>
      </ion-list>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
