<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Driplane</ion-list-header>
        <ion-note>{{ ( activeProject$ | async )?.name }}</ion-note>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="['/projects', ( activeProject$ | async )?.id]" lines="none" detail="false" routerLinkActive="active">
            <ion-icon slot="start" ios="speedometer-outline" md="speedometer-sharp"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <ion-item routerDirection="root" [routerLink]="['/projects', ( activeProject$ | async )?.id, 'settings']" lines="none" detail="false" routerLinkActive="active">
            <ion-icon slot="start" ios="cog-outline" md="cog-sharp"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item>
          <ion-select [compareWith]="compareWith" [value]="activeProject$ | async" (ionChange)="switchProject($event)" placeholder="Switch project">
            <ion-select-option *ngFor="let project of projects$ | async" [value]="project">{{ project.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item (click)="signOut()">
          <ion-label>Sign out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
