<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerDirection="back" [routerLink]="['../..']"><ion-icon slot="start" name="chevron-back"></ion-icon>
        Back</ion-button>
    </ion-buttons>
    <ion-title *ngIf="editMode">Edit Project Key</ion-title>
    <ion-title *ngIf="!editMode">Create Project Key</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveProjectKey()" [disabled]="!projectKeyForm.valid" strong>Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="limited-width" color="light">
  <ng-container *ngIf="(selectedKey$ | async) as key">
    <ion-list inset>
      <ion-item>
        <ion-label>Token: ****{{ key.key.slice(-5) }} <sl-copy-button value="{{ key.key }}" hoist></sl-copy-button></ion-label>
      </ion-item>

      <ion-item *ngIf="key.write">
        <p>You can put the code below before <code>&lt;/head&gt;</code> tag in your website:</p>
        <div class="code-example">
          <pre class="hljs"
            style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(240, 240, 240); color: rgb(68, 68, 68);"><span class="hljs-tag">&lt;<span class="hljs-name" style="font-weight: 700;">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"module"</span><br>  <span class="hljs-attr">data-driplane-token</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"{{ key.key }}"</span><br>  <span class="hljs-attr">data-driplane-modules</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"vitals"</span><br>  <span class="hljs-attr">src</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"https://cdn.jsdelivr.net/npm/&#64;driplane/web&#64;beta/dist/driplane.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name" style="font-weight: 700;">script</span>&gt;</span></pre>

          <sl-copy-button
            value='&lt;script type="module" data-driplane-token="{{ key.key }}" data-driplane-modules="vitals" src="https://cdn.jsdelivr.net/npm/&#64;driplane/web&#64;beta/dist/driplane.js"&gt;&lt;/script&gt;' hoist></sl-copy-button>
        </div>
        <p color="medium">Learn more about <a>advanced tracking options</a></p>
      </ion-item>
    </ion-list>
  </ng-container>

  <form [formGroup]="projectKeyForm">
    <ion-list inset>
      <ion-item>
        <ion-input label="Key Name" type="text" formControlName="name" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-note color="medium" class="list-note ion-margin-horizontal">Give your key a name that explains the
      purpose of this key. ex: Customer API Key</ion-note>
    <ion-list inset>
      <ion-item>
        <ion-checkbox [checked]="projectKeyForm.value.write"
          (ionChange)="projectKeyForm.patchValue({ write: $event.target.checked })" #writeAccess>Write
          Access</ion-checkbox>
        <ion-note color="medium">Allow event write</ion-note>
      </ion-item>
      <ion-item>
        <ion-checkbox [checked]="projectKeyForm.value.read"
          (ionChange)="projectKeyForm.patchValue({ read: $event.target.checked })" #readAccess>Read
          Access</ion-checkbox>
        <ion-note color="medium">Allow reading event stats</ion-note>
      </ion-item>
    </ion-list>

    <ng-container *ngIf="writeAccess.checked">
      <ion-note color="medium" class="list-note-section list-note ion-margin-horizontal">Auto Fill</ion-note>
      <ion-list inset>
        <!-- <ion-item *ngIf="projectKeyForm.value.auto_fill">
          <ion-label><strong>Key</strong></ion-label>
          <ion-note><strong>Value</strong></ion-note>
        </ion-item> -->
        <ion-item-sliding *ngFor="let autoFill of projectKeyForm.value.auto_fill | keyvalue" #sliding>
          <ion-item>
            <ion-label>{{ autoFill.key }}</ion-label>
            <ion-note>{{ autoFill.value }}</ion-note>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="danger" (click)="deleteAutoFillKey(autoFill.key)"><ion-icon slot="start"
                name="trash"></ion-icon>Delete</ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
        <ion-item-sliding *ngFor="let autoFill of projectKeyForm.value.auto_fill_template | keyvalue" #sliding>
          <ion-item>
            <ion-label>{{ autoFill.key }}</ion-label>
            <ion-note>{{ autoFill.value }}</ion-note>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="danger" (click)="deleteAutoFillTemplateKey(autoFill.key)"><ion-icon slot="start"
                name="trash"></ion-icon>Delete</ion-item-option>
          </ion-item-options>

        </ion-item-sliding>

        <ion-item button (click)="addAutoFill.present()">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          <ion-label>Add auto fill value</ion-label>
        </ion-item>
      </ion-list>

      <ion-note color="medium" class="list-note ion-margin-horizontal">You can add some key/value pairs to every
        events that will be written with this key. <a>Learn more</a></ion-note>
    </ng-container>

    <ng-container *ngIf="readAccess.checked">
      <ion-note color="medium" class="list-note-section list-note ion-margin-horizontal">Auto Filter</ion-note>
      <ion-list inset>
        <ion-item-sliding *ngFor="let autoFilter of projectKeyForm.value.auto_filter | keyvalue" #sliding>
          <ion-item>
            <ion-label>{{ autoFilter.key }}</ion-label>
            <ion-note>{{ autoFilter.value }}</ion-note>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="danger" (click)="deleteAutoFilterKey(autoFilter.key)"><ion-icon slot="start"
                name="trash"></ion-icon>Delete</ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
        <ion-item button (click)="addAutoFilter.present()">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          <ion-label>Add auto filter value</ion-label>
        </ion-item>
      </ion-list>

      <ion-note color="medium" class="list-note ion-margin-horizontal">You can add some key/value pairs to filter
        out event data that will be read by this key. <a>Learn more</a></ion-note>
    </ng-container>

    <ion-list inset *ngIf="editMode">
      <ion-item button [detail]="false">
        <ion-label color="danger" (click)="confirmDeleteKey()">Delete Key</ion-label>
      </ion-item>
    </ion-list>

    <ion-action-sheet #confirmDeleteKeyActionSheet header="Are you sure to delete this key?" [buttons]="actionSheetButtons"></ion-action-sheet>
  </form>

  <ion-modal #addAutoFill>
    <ng-template>
      <ion-header>
        <form [formGroup]="autoFillForm">
          <ion-toolbar>
            <ion-title>Add New Auto Fill Value</ion-title>
            <ion-buttons slot="start">
              <ion-button (click)="addAutoFill.dismiss()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="saveAddAutoFill(addAutoFill)" strong>Add</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-toolbar>
            <ion-segment (ionChange)="autoFillForm.patchValue({ valueType: $event.target.value.toString() })"
              value="text" #valueType>
              <ion-segment-button value="text">
                <ion-label>String value</ion-label>
              </ion-segment-button>
              <ion-segment-button value="number">
                <ion-label>Numeric value</ion-label>
              </ion-segment-button>
              <ion-segment-button value="template">
                <ion-label>Template</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </form>
      </ion-header>

      <ion-content color="light">
        <form [formGroup]="autoFillForm">
          <ion-list inset lines="none">
            <ion-item>
              <ion-input label="Key" type="text" errorText="Key can only include lowercase letters, numbers, dash and underscore" formControlName="key" required pattern="[a-z1-9\-_]*"></ion-input>
            </ion-item>
            <ion-item *ngIf="valueType.value === 'template'">
              <ion-select label="Value" interface="popover" formControlName="value" required>
                <ion-select-option value="geoip.city">City</ion-select-option>
                <ion-select-option value="geoip.country_code">Country Code</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="valueType.value !== 'template'">
              <ion-input label="Value" errorText="Please check value" [type]="valueType.value" formControlName="value" required></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #addAutoFilter>
    <ng-template>
      <ion-header>
        <form [formGroup]="autoFillForm">
          <ion-toolbar>
            <ion-title>Add New Auto Filter Value</ion-title>
            <ion-buttons slot="start">
              <ion-button (click)="addAutoFill.dismiss()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="saveAddAutoFilter(addAutoFilter)" strong>Add</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-toolbar>

            <ion-segment (ionChange)="autoFillForm.patchValue({ valueType: $event.target.value.toString() })"
              value="text" #valueType>
              <ion-segment-button value="text">
                <ion-label>String value</ion-label>
              </ion-segment-button>
              <ion-segment-button value="number">
                <ion-label>Numeric value</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </form>
      </ion-header>

      <ion-content color="light">
        <form [formGroup]="autoFillForm">

          <ion-list inset lines="none">
            <ion-item>
              <ion-input label="Key" type="text" errorText="Key can only include lowercase letters, numbers, dash and underscore"  formControlName="key" required pattern="[a-z\-_]*"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Value" errorText="Please check value" [type]="valueType.value" formControlName="value" required></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
