<app-modal-view>
  <div class="logo-container">
    <h1>Driplane</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <ion-list lines="none">
      <ion-item>
        <ion-input
          label="E-mail"
          labelPlacement="stacked"
          autocomplete="email"
          type="email"
          email
          name="username"
          formControlName="username"
          data-testid="usernameInput"
          [errorText]="(logInFailed$ | async) || 'Please write a valid email address'"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Password"
          labelPlacement="stacked"
          type="password"
          name="password"
          formControlName="password"
          data-testid="passwordInput"
          errorText="Write your password"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-button
        slot="end"
        routerLink="/password-reset"
        fill="clear"
        size="small"
        data-testid="resetPasswordButton"
        >Forgot password?</ion-button
      >

      </ion-item>

      <button type="submit"></button>

      <ion-button type="submit" expand="block" share="round" color="primary" data-testid="loginButton"
          >Login</ion-button
        >

      <hr>

      <ion-button fill="outline" expand="block" data-testid="signupButton" routerLink="/signup">Create Account</ion-button>
    </ion-list>
  </form>
</app-modal-view>
