.logo-container {
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 15px;
    background-image: url('../../assets/driplane-light.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent
}

@media (prefers-color-scheme: dark) {
    .logo-container {
        background-image: url('../../assets/driplane-dark.png');
    }
}

form > button {
    visibility: hidden;
}

.error-message {
  display: none;
}

.ng-submitted .ion-invalid + .error-message {
  display: block;
}
