<app-modal-view>
  <div class="logo-container">
    <h1>Driplane</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <ion-list>
      <ion-item>
        <ion-input
          label="E-mail"
          labelPlacement="stacked"
          autocomplete="email"
          type="email"
          email
          name="username"
          formControlName="username"
          required
        ></ion-input>
      </ion-item>

      <ion-text class="error-message" color="danger">
        <p *ngIf="(logInFailed$ | async); else clientSideErrors">{{ logInFailed$ | async }}</p>

        <ng-template #clientSideErrors>
          <p *ngIf="loginForm.controls.username.errors?.['email']">Please write a valid email address</p>
          <p *ngIf="loginForm.controls.username.errors?.['required']">Please write a valid email address</p>
        </ng-template>
      </ion-text>

      <ion-item>
        <ion-input
          label="Password"
          labelPlacement="stacked"
          type="password"
          name="password"
          formControlName="password"
          required
        ></ion-input>
      </ion-item>
      <ion-text class="error-message" color="danger">
        <p>Write your password</p>
      </ion-text>
    </ion-list>
    <button type="submit"></button>
    <ion-button type="submit" expand="block" share="round" color="success"
      >Login</ion-button
    >

    <ion-item lines="none">
      <ion-button
        slot="start"
        routerLink="/password-reset"
        fill="clear"
        size="small"
        >Reset Password</ion-button
      >
      <ion-button slot="end" routerLink="/signup">Create Account</ion-button>
    </ion-item>
  </form>
</app-modal-view>
