.logo-container {
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 15px;
    background-image: url('../../assets/driplane-light.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent
}

hr {
  --bg-color: var(--ion-background-color);
  --line-color: var(--ion-text-color);
  color: var(--line-color);
  overflow: visible;
  text-align: center;
  height: 24px;
  margin-inline: 24px;
  position: relative;
}

hr::after {
  content: 'or';
  background-color: var(--bg-color);
  padding: 0 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media (prefers-color-scheme: dark) {
    .logo-container {
        background-image: url('../../assets/driplane-dark.png');
    }
}

form > button {
    visibility: hidden;
}

.error-message {
  display: none;
}

.ng-submitted .ion-invalid + .error-message {
  display: block;
}
