<ion-modal #modal [presentingElement]="presentingElement" (didDismiss)="willDismiss()" [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button [strong]="true" (click)="isOpen=false">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="light" [scrollY]="false">
      <cdk-virtual-scroll-viewport itemSize="44" minBufferPx="600" maxBufferPx="1000" class="ion-content-scroll-host">
        <ion-list inset>
        <ion-item>
          <ion-label><strong>{{ label }}</strong></ion-label>
          <ion-note slot="end"><strong>{{ value }}</strong></ion-note>
        </ion-item>
        <ion-item *cdkVirtualFor="let item of data | async">
          <ion-label><a href="#">{{ item.label | labelFormat:labelFormatInput:unknownLabel }}</a></ion-label>
          <ion-note slot="end">{{ item.count | number }}</ion-note>
        </ion-item>
      </ion-list>
      </cdk-virtual-scroll-viewport>
    </ion-content>
  </ng-template>
</ion-modal>
