<app-modal-view>
  <div class="logo-container">
    <h1>Driplane</h1>
  </div>
  <ion-header>
    <ion-title size="large">
      Create account
    </ion-title>
  </ion-header>
  <form #form="ngForm" *ngIf="!success" (ngSubmit)="signUp(form)">
    <ion-list lines="none">
      <ion-item>
        <ion-input
          label="E-mail"
          labelPlacement="stacked"
          autocomplete="email"
          type="email"
          email
          name="username"
          [(ngModel)]="username"
          data-testid="usernameInput"
          errorText="Please write a valid email address"
          required
          #email="ngModel"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="New Password"
          labelPlacement="stacked"
          type="password"
          name="password"
          [(ngModel)]="password"
          data-testid="passwordInput"
          required
          autocomplete="new-password"
          errorText="Write your pasword"
          #pass="ngModel"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Verify Password"
          labelPlacement="stacked"
          type="password"
          name="password2"
          [(ngModel)]="password2"
          data-testid="passwordVerifyInput"
          required
          errorText="Passwords don't match"
          autocomplete="new-password"
          #pass2="ngModel"
        ></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit"></button>
    <ion-button type="submit" expand="block" share="round" data-testid="signupButton"
      >Register</ion-button
    >

    <ion-item lines="none">
      <p slot="end">Do you already have an account? <a routerLink="/login" data-testid="loginButton">Login</a></p>
    </ion-item>
  </form>

  <ion-text *ngIf="success" data-testid="successMessage"
    >Please check your email and click the link to confirm your
    registration.</ion-text
  >
</app-modal-view>
