<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ (activeProject$ | async )?.name }} Dashboard</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [formControl]="range">
      <ion-segment-button value="live">Live <span class="live-indicator"></span></ion-segment-button>
      <ion-segment-button value="today">Today</ion-segment-button>
      <ion-segment-button value="day">Yesterday</ion-segment-button>
      <ion-segment-button value="week">Last week</ion-segment-button>
      <ion-segment-button value="month">Last Month</ion-segment-button>
      <!-- <ion-segment-button value="previousMonth">Previous Month</ion-segment-button> -->
    </ion-segment>

  </ion-toolbar>
  <ion-toolbar *ngIf="(filters$ | async).length > 0">
      <ion-chip *ngFor="let filter of filters$ | async">
        <!-- <ion-icon name="pin" color="primary"></ion-icon> -->
        <ion-label>{{ filter.label || filter.key }}: {{ filter.value }}</ion-label>
        <ion-icon name="close" (click)="clearFilter(filter.key)"></ion-icon>
      </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [style]="{ '--total-page-view': totalPageCount$ | async,  '--total-user-count': totalUserCount$ | async }">
    <ion-row>
      <ion-col size="12" *ngIf="onboardingMode$ | async">
        <ion-card class="no-data-card">
          <ion-card-header>
            <ion-card-title>No Data</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>Did you add your tracker code to your website?</p>
            <ion-button id="add-tracker-code">Add now</ion-button>

            <ion-modal #trackerModal trigger="add-tracker-code">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Add tracking code</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="trackerModal.dismiss()" [strong]="true">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <p>You can put the code below before <code>&lt;/head&gt;</code> tag in your website:</p>
                  <div class="code-example">
                    <pre class="hljs" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(240, 240, 240); color: rgb(68, 68, 68);"><span class="hljs-tag">&lt;<span class="hljs-name" style="font-weight: 700;">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"module"</span><br>  <span class="hljs-attr">data-driplane-token</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"{{ activeProjectKey$ | async }}"</span><br>  <span class="hljs-attr">src</span>=<span class="hljs-string" style="color: rgb(136, 0, 0);">"https://cdn.jsdelivr.net/npm/&#64;driplane/web&#64;beta/dist/driplane.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name" style="font-weight: 700;">script</span>&gt;</span></pre>

                    <sl-copy-button value='&lt;script type="module" data-driplane-token="{{ activeProjectKey$ | async }}" src="https://cdn.jsdelivr.net/npm/&#64;driplane/web&#64;beta/dist/driplane.js"&gt;&lt;/script&gt;'></sl-copy-button>
                  </div>

                  <p>Then you will start to see your visitor insights in this dashboard.</p>
                </ion-content>
              </ng-template>

            </ion-modal>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="6" size-md="8" size-sm="12" *ngIf="(pageViews$ | async)?.length > 0">
        <ion-card class="main-card">
          <ion-card-header>
            <ion-card-subtitle class="date-range">{{ (dateRange$ | async)?.since | date:'d MMMM HH:mm' }} - {{ (dateRange$ | async)?.until | date:'d MMMM HH:mm' }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <app-timeline-chart-row label="Total pageview" *ngIf="pageViews$ | async" [chartData]="pageViews$ | async"></app-timeline-chart-row>
            <app-timeline-chart-row label="Unique visitors" *ngIf="users$ | async" [chartData]="users$ | async"></app-timeline-chart-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="3" size-md="4" size-sm="12" *ngIf="(hasFilter('url_host') | async) === false && (topHosts$ | async)?.length > 0">
        <ion-card class="bar-chart-card">
          <ion-card-header>
            <ion-card-subtitle>Top Domains</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ul>
              <li *ngFor="let item of topHosts$ | async" [style]="{ '--item-value': item.count}">
                <a class="label" (click)="addFilter('url_host', item.label, 'Domain')">{{ item.label }}</a>
                <span>{{ item.count | number }}</span>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="3" size-md="4" size-sm="12" *ngIf="(hasFilter('url_path') | async) === false && (topUrls$ | async)?.length > 0">
        <ion-card class="bar-chart-card">
          <ion-card-header>
            <ion-card-subtitle>Top URLs</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ul>
              <li *ngFor="let item of topUrls$ | async" [style]="{ '--item-value': item.count}">
                <a class="label" (click)="addFilter('url_path', item.label, 'URL')">{{ item.label }}</a>
                <span>{{ item.count | number }}</span>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="3" size-md="4" size-sm="12" *ngIf="(hasFilter('ref_host') | async) === false && (topSources$ | async)?.length > 0">
        <ion-card class="bar-chart-card">
          <ion-card-header>
            <ion-card-subtitle>Top Sources</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ul>
              <li *ngFor="let item of topSources$ | async" [style]="{ '--item-value': item.count}">
                <a class="label" (click)="addFilter('ref_host', item.label, 'Source')">{{ item.label }}</a>
                <span>{{ item.count | number }}</span>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="3" size-md="4" size-sm="12" *ngIf="(topSourcesUrls$ | async)?.length > 0">
        <ion-card class="bar-chart-card">
          <ion-card-header>
            <ion-card-subtitle>Source URLs</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ul>
              <li *ngFor="let item of topSourcesUrls$ | async" [style]="{ '--item-value': item.count}">
                <a class="label">{{ item.label }}</a>
                <span>{{ item.count | number }}</span>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="3" size-md="4" size-sm="12" *ngIf="(hasFilter('ua_br', 'ua_os') | async) === false && (topEnvType$ | async)?.length > 0">
        <ion-card class="bar-chart-card">
          <ion-card-header>
            <ion-select interface="popover" value="ua_br" [formControl]="envType" placeholder="Visitor Software">
              <ion-select-option value="ua_br">Top Browsers</ion-select-option>
              <ion-select-option value="ua_os">Top Operating Systems</ion-select-option>
            </ion-select>

          </ion-card-header>

          <ion-card-content>
            <ul>
              <li *ngFor="let item of topEnvType$ | async" [style]="{ '--item-value': item.count}">
                <a class="label" (click)="addFilter(envType.value, item.label, envType.value === 'ua_br' ? 'Browser' : 'OS')">{{ item.label }}</a>
                <span>{{ item.count | number }}</span>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="3" size-md="4" size-sm="12" *ngIf="(hasFilter('ua_dv_t') | async) === false && (topDevices$ | async)?.length > 0">
        <ion-card class="bar-chart-card">
          <ion-card-header>
            <ion-card-subtitle>Top Devices</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ul>
              <li *ngFor="let item of topDevices$ | async" [style]="{ '--item-value': item.count}">
                <a class="label" (click)="addFilter('ua_dv_t', item.label, 'Device')">{{ item.label }}</a>
                <span>{{ item.count | number }}</span>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
