// ion-card {
//   min-width: 200px;
// }

// .main-card {
//   min-width: min(600px, 90vw);
//   max-width: 90vw;
// }

// .no-data-card {
//   min-width: 90%;
// }

.bar-chart-list {
  list-style: none;
  padding: 0;

  li {
    display: flex;

    a {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.live-indicator {
  display: inline-block;
  background: rgb(234, 36, 41);
  width: 10px;
  height: 10px;
  // border: solid 2px transparent;
  border-radius: 5px;
  animation: blinker .8s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.code-example {
  position: relative;

  sl-copy-button {
      position: absolute;
      top: 0;
      right: 0;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
    // border-color: rgba(234, 36, 41, 0);
  }

  to {
    opacity: 0.4;
    // border-color: rgba(234, 36, 41, .8);
  }
}
