ion-content::part(scroll) {
  padding-bottom: var(--ion-safe-area-bottom, 0);
  padding-left: var(--ion-safe-area-left, 0);
  padding-right: var(--ion-safe-area-right, 0);
}

.bar-chart-card {
  ion-card-header:has(ion-select) {
    padding-block: 0;
  }

  ion-card-content {
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      --percentage: calc((var(--item-value) / var(--total-page-view)) * 100 * 1%);
      --bar-color: var(--ion-color-light);
      --background-color: transparent;
      background: linear-gradient(to right, var(--bar-color), var(--bar-color) var(--percentage), transparent var(--percentage));
      padding-inline: 16px;
      padding-block: 4px;
      transition: background .1s ease-in-out;
      a {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        cursor: pointer;
        --bar-color: var(--ion-color-light-tint);
        background-color: var(--ion-color-light-shade);
      }
    }
  }
}

.live-indicator {
  display: inline-block;
  background: rgb(234, 36, 41);
  width: 10px;
  height: 10px;
  // border: solid 2px transparent;
  border-radius: 5px;
  animation: blinker .8s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.code-example {
  position: relative;

  sl-copy-button {
      position: absolute;
      top: 0;
      right: 0;
  }
}

.perf-stats {
  ion-card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    figure {
      display: relative;
      flex: 1;
      height: 160px;
      aspect-ratio: 1/1;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@keyframes blinker {
  from {
    opacity: 1;
    // border-color: rgba(234, 36, 41, 0);
  }

  to {
    opacity: 0.4;
    // border-color: rgba(234, 36, 41, .8);
  }
}

.gauge {
  circle {
    fill: transparent;
    stroke-width: 3;
  }

  .pointer {
    stroke-width: 4;
    stroke-dashoffset: calc(-.74 * var(--value));
    transform: rotate(-225deg);
    transform-origin: center center;
    transition: stroke-dashoffset ease .3s;
  }

  .chart-text {
    fill: #000;
    transform: translateY(0.25em);

    &.poor {
      fill: var(--ion-color-danger);
    }

    &.good {
      fill: var(--ion-color-success);
    }

    &.improve {
      fill: var(--ion-color-warning);
    }
  }

  .chart-number {
    font-size: 0.4em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.35em);
  }

  .chart-label {
    font-size: 0.3em;
    text-transform: uppercase;
    text-anchor: middle;
    transform: translateY(0.7em);
  }
}

figure {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
}

.gauge-segment-poor {
  stroke: var(--ion-color-danger);
}

.gauge-segment-good {
  stroke: var(--ion-color-success);
}

.gauge-segment-improve {
  stroke: var(--ion-color-warning);
}


.chart-card {
  position: relative;

  p {
    font: -apple-system, sans-serif;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    transition: opacity .2s ease-in-out;
    pointer-events: none;
  }

  &:hover p {
    opacity: 0;
  }
}
