.bar-chart-card {
  ion-card-header:has(ion-select) {
    padding-block: 0;
  }

  ion-card-content {
    padding-inline: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      --percentage: calc((var(--item-value) / var(--total-page-view)) * 100 * 1%);
      --bar-color: var(--ion-color-light);
      --background-color: transparent;
      background: linear-gradient(to right, var(--bar-color), var(--bar-color) var(--percentage), transparent var(--percentage));
      padding-inline: 16px;
      padding-block: 4px;
      transition: background .1s ease-in-out;
      a {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        cursor: pointer;
        --bar-color: var(--ion-color-light-tint);
        background-color: var(--ion-color-light-shade);
      }
    }
  }
}


.live-indicator {
  display: inline-block;
  background: rgb(234, 36, 41);
  width: 10px;
  height: 10px;
  // border: solid 2px transparent;
  border-radius: 5px;
  animation: blinker .8s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.code-example {
  position: relative;

  sl-copy-button {
      position: absolute;
      top: 0;
      right: 0;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
    // border-color: rgba(234, 36, 41, 0);
  }

  to {
    opacity: 0.4;
    // border-color: rgba(234, 36, 41, .8);
  }
}
