<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Project Management</ion-card-title>
      <ion-card-subtitle>
        <ion-button id="create-project">Add new project</ion-button>
      </ion-card-subtitle>
      <ion-modal #modal trigger="create-project" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel(modal)">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Create New Project</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm(modal)" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-input label="Give your project a name" labelPlacement="stacked" type="text" placeholder="My website"
                [(ngModel)]="name"></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-header>
    <ion-list>
      <ion-item-sliding *ngFor="let project of projects$ | async" #sliding>
        <ion-item>
          <ion-label>
            <h2>{{ project.name }}</h2>
            <ion-note>{{ project.created_at }}</ion-note>
          </ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" id="project-delete-{{ project.id }}">Delete</ion-item-option>
        </ion-item-options>

        <ion-modal #modal trigger="project-delete-{{ project.id }}" (willDismiss)="onWillDismissDelete($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel(modal)">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Delete Project</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirmDelete(modal, project.id)" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-text color="danger">
                <h2>Are you sure you want to delete this project?</h2>
                <p>This action cannot be undone. Please write the project name({{ project.name }}) below to confirm deletion.</p>
              </ion-text>
              <ion-item>
                <ion-input label="Write the name of the project" labelPlacement="stacked" type="text"
                  [(ngModel)]="name" pattern="{{ project.name }}" required></ion-input>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item-sliding>
    </ion-list>

  </ion-card>

</ion-content>