name: Verify PR

on:
  pull_requests:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Verify
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set Node env
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test
      - name: Test
        run: npm run build
