<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ ( activeProject$ | async )?.name }} settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Project Info</ion-card-title>
    </ion-card-header>
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            <h2>Project Name:</h2>
            <p>{{ ( activeProject$ | async )?.name }}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h2>Project Client ID:</h2>
            <p>{{ ( activeProject$ | async )?.id }}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h2>Project Client Secret:</h2>
            <p>{{ ( activeProject$ | async )?.secret }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Project Keys</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="let key of (activeProject$ | async )?.keys">
          <ion-label>
            <h2>Name:</h2>
            <p>{{ key.name }}</p>
          </ion-label>
          <ion-label>
            <details>
              <caption>Show Code</caption>

              <p>You can put code below to before <code>&lt;/head&gt;</code> tag in your website:</p>

              <p>
                &lt;script type="module" data-driplane-token="{{ key.key }}" src="https://cdn.jsdelivr.net/npm/&#64;driplane/web&#64;eta/dist/driplane.js"&gt;&lt;/script&gt;
              </p>
            </details>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
