<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ ( activeProject$ | async )?.name }} settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="limited-width" color="light">
  <ion-list inset lines="none">
    <ion-list-header>
      <ion-label>Project Info</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2>Project Name:</h2>
        <p>{{ ( activeProject$ | async )?.name }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Project Client ID:</h2>
        <p>{{ ( activeProject$ | async )?.id }} <sl-copy-button
            value="{{ ( activeProject$ | async )?.id }}"></sl-copy-button></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Project Client Secret:</h2>
        <p>*****{{ ( activeProject$ | async )?.secret.slice(-5) }} <sl-copy-button
            value="{{ ( activeProject$ | async )?.secret }}"></sl-copy-button></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-list-header>
      <ion-label>Project API Keys</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let key of activeProjectKeys$ | async" #sliding>
      <ion-item [routerLink]="['keys', key.key]">
        <ion-label>
          <h2>{{ key.name }}</h2>
          <ion-note>Token: ****{{ key.key.slice(-5) }}</ion-note>
        </ion-label>
        </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="confirmDeleteKey(key)"><ion-icon slot="start"
            name="trash"></ion-icon>Delete</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item [routerLink]="['keys','new']">
      <ion-icon slot="start" ios="add-circle-outline" md="add-circle-sharp"></ion-icon>
      <ion-label>Create New Key</ion-label>
    </ion-item>
  </ion-list>

  <ion-note color="medium" class="list-note ion-margin">Project keys are non-expiring API tokens to allow external
    tools/websites to read or write data to your Project.</ion-note>

</ion-content>
